body {
    font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}
.weather-project {margin:50px 70px;padding:20px; border:1px solid crimson; border-radius: 5px;}

h1 {
    text-align: left;
    font-size: 32px;
    line-height: 48px;
    padding-left: 40px;
    color: #9989da;
}

ul {list-style: none}

.description {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-family: PT Mono, monospace;
}
.open-source{
    display:block;
    color:rgb(186, 9, 9);
    text-decoration: none;
}